nelmio_api_doc:
    documentation:
        info:
            title: My API
            version: 1.0.0
    areas:
        default:
            path_patterns: [ ^/api ]   # область default будет включать пути, начинающиеся с /api
