services:
    app:
        build:
            context: .
            dockerfile: ./docker/local/php-fpm/Dockerfile
        container_name: tile_api
        working_dir: /var/www/html
        environment:
            - APP_ENV=${APP_ENV:-prod}
            - APP_SECRET=${APP_SECRET:-changeme}
            - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@${POSTGRES_HOST:-db}:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-tiledb}?serverVersion=15&charset=utf8
            - MANTICORE_HOST=${MANTICORE_HOST:-manticore}
            - MANTICORE_PORT=${MANTICORE_PORT:-9308}
        depends_on:
            db:
                condition: service_healthy
            manticore:
                condition: service_started
        volumes:
            - ./:/var/www/html
        networks:
            - tile_network

    db:
        image: postgres:15-alpine
        container_name: tile_db
        environment:
            - POSTGRES_DB=${POSTGRES_DB:-tiledb}
            - POSTGRES_USER=${POSTGRES_USER:-postgres}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
        ports:
            - "${POSTGRES_PORT:-5432}:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
            interval: 5s
            timeout: 5s
            retries: 5
        networks:
            - tile_network

    manticore:
        image: manticoresearch/manticore:15.1.0
        container_name: tile_manticore
        ports:
            - "${MANTICORE_PORT:-9308}:9308"
            - "${MANTICORE_SQL_PORT:-9306}:9306"
        volumes:
            - manticore_data:/var/lib/manticore
            - ./manticore/manticore.conf:/etc/manticoresearch/manticore.conf
        networks:
            - tile_network
        environment:
            - EXTRA=1

    nginx:
        image: nginx:1.27.2-alpine-slim
        container_name: tile_nginx
        ports:
            - "${NGINX_PORT:-80}:80"
        depends_on:
            - app
        restart: "no"
        logging:
            driver: json-file
            options:
                max-size: "200k"
                max-file: "2"
                labels: "service_name"
        volumes:
            - ./:/var/www/html
            - ./docker/local/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - tile_network

volumes:
    postgres_data:
    manticore_data:

networks:
    tile_network:
        driver: bridge
